<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{> navbar}}
    this in index

    <a href="/secret">Go To Secret File</a><br>
    <a href="/logout">Click to LogOut</a>
    
</body>
</html>